<h2>Total Comments</h2>
<div>
  <div class="user-card left">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    <div class="right">
        <span class="span-post">Comments: <%= @post.comments.count %></span>
        <span class="span-post">Likes: <%= @post.likes.count %></span>
      </div>
      <br>
    <p><%= @post.text %></p>
  </div>
  <div class="user-card left">
    <ul>